@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto&display=swap');
html,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans';
    background-color: rgb(0 126 255);
    background-image: url("image/macos-1920.jpg");
    background-size:cover;
    transition-duration: 300ms;
}
.icon-field{
    user-select: none;
    width: 100vw;
    height: 100vh;
    padding: 3px 2px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 75px;
    height: 55px;
    margin-bottom: 25px;
    background-color: none;
    border-radius: 2px;
    border: solid transparent 1px;
}
.icon-container:hover{
    background-color: #ffffff2c;
    border: solid #ffffff70 1px;
    backdrop-filter: blur(10px);
}
.icon-container:active{
    background-color: #ffffff5b;
}
.icon-img{
    background-color: none;
    background-image: url("image/icon/blue/folder.ico");
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x:50%;
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
}
.icon-text{
    font-family: 'Josefin Sans';
    width: 90%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    text-align: center;
    color: aliceblue;
    cursor:default;
}
.icon-text:focus{
    cursor: text;
}
.icon-text:focus{
    background-color: rgb(255, 255, 255);
    color:black;
}

/*start-bar */
.start-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.781);
    backdrop-filter: blur(10px);
}
.start-menu{
    width: 37px;
    height: 100%;
    background-image: url("image/Nexus.png");
    background-size: cover;
    background-position-y: top;
}
.start-menu:hover{
    background-position-y: center;
}
.start-menu:active{
    background-position-y: bottom;
}

/* context menu */
#context-menu{
    position: fixed;
    z-index: 100;
    width: 170px;
    padding: 7px 5px;
    background: #ffffffd2;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    box-shadow: 2px 2px 20px -10px;
}
#context-menu.visible{
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}
#context-menu .item{
    padding:3px 15px;
    font-size: 14px;
    font-family: 'Roboto';
    color:#222121;
    cursor: default;
    border-radius: inherit;
}
#context-menu .item:hover{
    background: #43b4ff;
    background-image: radial-gradient(#0199ff, #3586ff);
    color: #ffffff;
}
.hr{
    width: 90%;
    height: 1px;
    margin: 5px auto;
    background-color: rgba(78, 78, 78, 0.116);
}

/* window box minimal */
.window_box{
    position: absolute;
    top:50px;
    left: 50px;
    height: 370px;
    width: 700px;
    border: none;
    border-radius: 3px;
    background-color: #f5f5f5;
    /* backdrop-filter: blur(2px); */
    box-shadow: 2px 13px -7px #323131b8;
    transform: scale(0);
    transform-origin: center;
}
#window_box.visible{
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}
.window_box .window_bar{
    border-radius: 3px 3px 0 0;
    height:35px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 3px 9px -10px #000000ab;
}
.window_bar .win_button{
    margin-left: 15px;
    width: 65px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.min{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(196, 196, 196);
}
.min:hover{
    background-color: rgb(128, 128, 128);
}
.max{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(226, 181, 56);
}
.max:hover{
    background-color: rgb(197, 145, 0);
}
.close{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(214, 74, 74);
}
.close:hover{
    background-color: rgb(182, 0, 0);
}
.separator{
    display: flex;
    margin: auto;
}
.s1{
    margin:10px;
    margin-right: 5px;
    height: 40px;
    width: 170px;
    padding: 8px 5px;
    color: #353535;
    font-family: cursive;
    background-color: #fffffffa;
    border-radius: 5px;
}
.s2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 5px;
    margin:10px;
    margin-left: 5px;
    width: 100%;
    height: 200px;
    background-color: #fffffffa;
}
.s2 .box{
    background-clip: border-box;
    margin: 5px 0;
    border-radius: 5px;
    width:170px;
    height: 90px;
    background-size: cover;
    background-color: #e0e0e0;
}
.box:hover{
    box-shadow: 0px 0px 10px -3px;
}